body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #2563eb, #06b6d4);
}

h2 {
    color: #38bdf8;
}

section {
    padding: 40px;
}

.project {
    background: #1e293b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.skill-box {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #38bdf8;
    border-radius: 8px;
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}